.cv {
	width: 100%;
}

.cv-head {

}

.cv-head-contact li {
	margin: 10px;
}

.cv-section {
	padding: 0 0 20px 0;
	border-top: 1px solid #fff;
	border-left: 5px solid rgba(0,0,0,0);
	border-right: 5px solid rgba(0,0,0,0);
	overflow: hidden;
	clear: both;
}

.sect-content {
	padding: 0 0 0 37px;
}

.sect-content div {
	padding: 0 0 0 20px;
}

.sect-content h4 {
	margin: 0 0 10px 0;
}

ul.list-inline {
	margin: 10px 0;
}

.list-inline {
	display: inline;
}
.list-inline li {
	display: inline;
}

.list-inline li:after {
	content: ' - ';
}

.list-inline li:last-child:after {
	content: '';
}

#employment ul li h5 {
	margin: 0;
}
#employment ul li h4 {
	margin-bottom: 0;
}

.emp-responsibilities {
	list-style-type: none;
}
.emp-responsibilities li:before {
	content: '- ';
}

.inline, .inline * {
	display: inline-block;
}

.pageNavMenu {
	clear: both; 
	font-size: 0.8em;
	text-align: center;
}

@media print {
	.pageNavMenu {
		display: none;
	}
}

.pageNavMenu li {
	display: inline-block;
	padding-left: 10px;
}

a.anchor {
	display: block; 
	position: relative; 
	top: -75px; 
	visibility: hidden;
}

.employment ul li h5 {
	padding-left: 15px;
}

@media screen and (max-width: 450px) {

	.cv-head-title {
		float: none;
	}
	.cv-head-title * {
		padding: none;
		text-align: center;
		display: relative;
	}
	.cv-head-contact {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	#cv-head-email {
		float: none;
	}

	#cv {
		margin: 0 10px 10px 10px;
	}

	.pageNavMenu {
		padding: 0;
		padding-top: 30px;
		font-size: 0.8em;
	}
	.sect-content {
		padding-left: 0;
	}
}

@media screen and (max-width: 980px) {
	#cv {
		width: 90%;
	}
}