/** {
	border: 1px solid #fff;
}
*/


@font-face {
  font-family: 'alegreya';
  src: url('../fonts/AlegreyaSansSC/AlegreyaSansSC-Regular.ttf');
}

@font-face {
	font-family: 'opensans';
	src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

body {
	background-color: #333333;
	color: #fff;
	margin: 0;
	font-family: 'opensans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}

a {
	color: #249100;
	text-decoration: none;
}

a:hover {
	color: #00D612;
}

::selection {
	background-color: #249100;
	/*color: #5B07E3;*/
}

.page-title {
	text-align: center;
	margin-bottom: 25.9px;
}

.page-title a {
	color: #fff;
}

.page-title a h1 {
	letter-spacing: 3px;
}

.page-title a h3 {
	letter-spacing: 3px;
}

.all {
	/*max-width: 950px;*/
	margin: auto;
	overflow: hidden;
	
}

.nav {
	height: 1.5em;
	
}

.nav ul {
	display: table;
	list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
    
    letter-spacing: 2px;
}

.nav ul li {
	display: table-cell;

}

.nav ul li a {

	display: block;
	height: auto;
	width: 110px;

	color: #fff;
	text-transform: lowercase;
	-webkit-transition: color 0.3s;
}

.nav a:hover {
	color: #249100;
}

.nav a:hover:before {
	content: "{ ";
	color: #249100;
}

.nav a:hover:after {
	content: " }";
	color: #249100;
}

.nav a:active:before {
	content: "{ ";
}

.nav a:active:after {
	content: " }";
}

.selected-nav {
	
}
.selected-nav:before {
	content: "{ ";
	color: #249100;
	font-weight: bold;

}
.selected-nav:after {
	content: " }";
	color: #249100;
	font-weight: bold;

}

.main-content {
	max-width: 900px;
	margin: auto;
	clear: both;
	padding: 45px;
}

.footer {
	border-top: 1px solid #fff;
	text-align: center;
	font-size: .8em;
	margin: 0 45px 0 45px;
}

.digital-presence {
	margin-top: 20px;
	text-align: center;
}
.digital-presence ul {
	display: table;
	margin: auto;
	padding: 0;
}

.digital-presence ul li {
	display: table-cell;
	padding: 5px;

}
.digital-presence ul li a img {
	max-width: 32px;
	display: block;
	border: 1px solid #333;
}

/*.digital-presence ul li a img:hover {
	border: 1px solid #fff;
}*/


/* Index Page Styles */

p.lead {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}


.index-content p {
	text-indent: 29.5px;
	letter-spacing: 1px;
}
.index-content h3 {
	
}


/* Code Page - code.html */

.code-project-list  li {
	margin-bottom: 25.9px;

}

.code-project-list  li p {
	margin: 0;
	margin-left: 25.9px;

}

.nav-sticky {
	padding: 10px;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	border-bottom: 1px solid #222;
	background: rgb(70, 70, 70);
}
@media screen and (max-width: 360px) {
	body {
		font-size: 0.7em;
	}

	p.lead {
		font-size: 14px;
	}

	.nav ul li a {
		width: 70px;
	}
}

@media screen and (max-width: 980px) {
	.main-content {
		padding-left: 50px;
		padding-right: 50px;
	}
}