
button {
  background: none;
  outline: 0;
  color: #333;
  border: 1px solid #222;
  padding: 5px 10px;
}

button:hover {
  background-color: #ddd;
  color: #666;
  cursor: pointer;
}

.codeHeader {
  margin: 0 0 50px 0;
}

.code-project-list {
  line-height: 1.8em;
}

.code-project-list li {
  list-style-type: none;
}

.code-project-list li p {
  font-style: italic;
  color: #999;
  font-size: 0.9em;
}
.toolPanel {
  height: 200px;
  width: 300px;
  display: inline-block;
  
  margin-bottom: 25px;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 0;
}

.toolPanel .transGrey h4 {
  margin: 0px;
}

.toolPanel  div p {
  margin: 10px 0 0 10px;
}

.codePanel {
  max-width: 900px;
  margin: 0 auto 0 auto;
  padding: 5px;
}

.wrapLinkProj {
  color: #444;
}

.wrapLinkProj::after {
  content:  ' \00BB';
}

.wrapLinkProj:hover {
  color: #111;
  text-decoration: underline;
}


.codepenlnk {
  width: 100px;
}

.cplnk {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .code-project-list {
    padding-left: 0;
  }
}

.center {
  text-align: center;
  position: relative;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}